.dialogCardList {
    width: 800px;
    padding-top: 30px;
    .dialogCard {
        width: 100%;
        color: rgba(0,0,0,0.85);
        font-size: 16px;
        line-height: 35px;
        .question {
            margin-bottom: 30px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            p {
                border-radius: 12px;
                background-color: rgba(0,0,0,.04);
                width: max-content;
                padding: 9px 16px 9px 16px;
            }
        }
        .answer {
            margin-bottom: 30px;
        }
    }
    .pictureItem {
        width: 300px;
        height: 300px;
        background-color: #0000000c;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 300px;
            height: 300px;
            border-radius: 20px;
        }
    }
}

.scrollContainer {
    width: 100%;
    overflow: scroll;
    height: 75%;
    display: flex;
    justify-content: center;
    &::-webkit-scrollbar {
        width: 5px !important; /* 设置滚动条的宽度 */
    }

    /* 滚动条内部滑块 */
    &::-webkit-scrollbar-thumb {
        background: #0000003a; /* 设置滑块的颜色 */
        border-radius: 2px; /* 设置滑块的圆角 */
    }

    /* 滚动条轨道（背景） */
    &::-webkit-scrollbar-track {
        background-color: transparent; /* 设置轨道的背景颜色 */
    }
}

.answer {
    pre {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    ol, ul {
        margin-left: 20px;
    }
    a {
        text-decoration: none;
        color: rgba(0,87,255,0.8);
    }
}

.codeBlock {
    border-radius: 12px;
    padding: 20px !important;
}