.sidebar {
    width: 280px;
    height: 100vh;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    .newBtn {
        width: 225px;
        height: 40px;
        background: rgba(0,87,255,0.06);
        border: 0.5px solid rgba(0,102,255,.15);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #0057ff;
        border-radius: 15px;
        font-size: 14px;
    }
    .newBtn:hover {
        background: rgba(0,87,255,0.1);
        color: #0057ff;
    }
}