* {
    padding: 0;
    margin: 0;
}

a:hover {
    color: #0057ff;
}

body {
    position: fixed;
    width: 100vw;
}

.page {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}